  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="text-center">Sign up</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
                <%= f.text_field :first_name, 
                                placeholder: "First name", 
                                class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.text_field :last_name, 
                                placeholder: "Last name", 
                                class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.email_field :email, 
                                placeholder: "Email", 
                                class: "form-control",
                                autofocus: true, 
                                autocomplete: "email" %>
            </div>

            <div class="form-group">
                <%= f.password_field :password, 
                                placeholder: "Password (#{@minimum_password_length} characters minimum)", 
                                class: "form-control",
                                autocomplete: "new-password" %>
            </div>

            <div class="form-group">
                <%= f.password_field :password_confirmation, 
                                    placeholder: "Confirm password", 
                                    class: "form-control",
                                    autocomplete: "new-password" %>
            </div>

            <div class="form-group">
                <%= f.text_field :street_address, 
                                placeholder: "Street address", 
                                class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.text_field :city, 
                                placeholder: "City", 
                                class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.text_field :province, 
                                placeholder: "Province", 
                                class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.text_field :postal_code, 
                                placeholder: "Postal code", 
                                class: "form-control" %>
            </div>

            <div class="form-group">
                <%= f.text_field :telephone_number, 
                                placeholder: "Telephone number", 
                                class: "form-control" %>
            </div>

            <div class="actions">
                <%= f.submit "Register",
                    class: "btn btn-default register-button" %>
            </div>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
